
h1, h3{
    text-align: center;
}

form{
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    padding: 20px;
}

th, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 40px;
    text-align: center;
}

ul{
    margin: 8px;
}

input[type=text], input[type=number], input[type=password]{
    padding:5px;
    width: 100%;
    border: 1px transparent;
    border-radius:4px;
    box-sizing:border-box;
    text-align: center;
}

input[type=submit] {
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 8px;
    padding: 12px 40px;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 4px;
    cursor: pointer;
}

.cont1{
    width: 100%;
    height: 500px;
    background-color: transparent;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 4px;
}

.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingCont{
    padding-top: 30px;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 4px;
    text-align: center;
    font-size: 50;
}

.bookingCont a{
    text-decoration: none;
    color: black;
}

.pcont{
    width: fit-content;
    height: 400px;
    background-color: transparent;
    margin: auto;
    display: grid;
    place-items: center;
}

.space{
    width: 20px;
    height: 600px;
    float: left;
    margin-top: 50px;
}

.wrapper{
    display: inline-flex;
    background: #fff;
    height: 200px;
    width: 600px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 50px 200px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }

  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }

  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span{
    font-size: 20px;
    color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
    color: #fff;
}
